.card {
    border: 0.2rem solid gold;
    border-radius: 0.6rem;
    width: 14vw;

    &:hover {
        filter: drop-shadow(0 0 0.5em white);
        transform: translate(0.2rem, 0.2rem);
    }

    img {
        border-radius: 0.6rem;
        width: 100%;
    }
}